In [2]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 245.8 kB/s eta 0:00:49
     --------------------------------------- 0.1/11.9 MB 357.2 kB/s eta 0:00:33
      -------------------------------------- 0.2/11.9 MB 827.9 kB/s eta 0:00:15
      -------------------------------------- 0.3/11.9 MB 944.1 kB/s eta 0:00:13
     - -------------------------------------- 0.4/11.9 MB 1.1 MB/s eta 0:00:11
     - -------------------------------------- 0.5/11.9 MB 1.4 MB/s eta 0:00:09
     -- ------------------------------------- 0.6/11.9 MB 1.5 MB/s eta 0:00:08
     -- ------------------------------------- 0.8/11.9 MB 1.7 MB/s eta 0:00:07
     -- ------------------------------------- 0.8/11.9 MB 1.7 MB/s eta 0:00:07
     -- ------------------------------------- 0.8/11.9 MB 1.7 MB/s eta 0:00:07
     -- ------------------------------------- 0.8/11.9 MB 1.7 MB/s eta 0:00:07
     --- ------------------------------------ 1.0/11.9 MB 1.5 MB/s eta 0:00:08
     --- ------------------------------------ 1.0/11.9 MB 1.5 MB/s eta 0:00:08
     --- ------------------------------------ 1.1/11.9 MB 1.5 MB/s eta 0:00:08
     --- ------------------------------------ 1.1/11.9 MB 1.5 MB/s eta 0:00:08
     --- ------------------------------------ 1.1/11.9 MB 1.5 MB/s eta 0:00:08
     ---- ----------------------------------- 1.2/11.9 MB 1.3 MB/s eta 0:00:08
     ---- ----------------------------------- 1.3/11.9 MB 1.4 MB/s eta 0:00:08
     ---- ----------------------------------- 1.4/11.9 MB 1.4 MB/s eta 0:00:08
     ----- ---------------------------------- 1.5/11.9 MB 1.5 MB/s eta 0:00:07
     ----- ---------------------------------- 1.7/11.9 MB 1.6 MB/s eta 0:00:07
     ------ --------------------------------- 1.9/11.9 MB 1.7 MB/s eta 0:00:06
     ------- -------------------------------- 2.1/11.9 MB 1.8 MB/s eta 0:00:06
     ------- -------------------------------- 2.3/11.9 MB 1.8 MB/s eta 0:00:06
     -------- ------------------------------- 2.5/11.9 MB 2.0 MB/s eta 0:00:05
     --------- ------------------------------ 2.9/11.9 MB 2.2 MB/s eta 0:00:05
     ---------- ----------------------------- 3.0/11.9 MB 2.2 MB/s eta 0:00:04
     ---------- ----------------------------- 3.2/11.9 MB 2.3 MB/s eta 0:00:04
     ----------- ---------------------------- 3.4/11.9 MB 2.4 MB/s eta 0:00:04
     ------------ --------------------------- 3.7/11.9 MB 2.5 MB/s eta 0:00:04
     ------------- -------------------------- 4.1/11.9 MB 2.6 MB/s eta 0:00:03
     -------------- ------------------------- 4.3/11.9 MB 2.7 MB/s eta 0:00:03
     --------------- ------------------------ 4.6/11.9 MB 2.8 MB/s eta 0:00:03
     --------------- ------------------------ 4.7/11.9 MB 2.8 MB/s eta 0:00:03
     ----------------- ---------------------- 5.1/11.9 MB 2.9 MB/s eta 0:00:03
     ------------------ --------------------- 5.4/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------- -------------------- 5.7/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------- ------------------- 5.9/11.9 MB 3.2 MB/s eta 0:00:02
     -------------------- ------------------- 6.1/11.9 MB 3.2 MB/s eta 0:00:02
     --------------------- ------------------ 6.4/11.9 MB 3.3 MB/s eta 0:00:02
     ---------------------- ----------------- 6.7/11.9 MB 3.3 MB/s eta 0:00:02
     ----------------------- ---------------- 6.9/11.9 MB 3.4 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 3.4 MB/s eta 0:00:02
     ------------------------ --------------- 7.4/11.9 MB 3.4 MB/s eta 0:00:02
     -------------------------- ------------- 7.7/11.9 MB 3.5 MB/s eta 0:00:02
     --------------------------- ------------ 8.0/11.9 MB 3.6 MB/s eta 0:00:02
     --------------------------- ------------ 8.2/11.9 MB 3.6 MB/s eta 0:00:02
     ---------------------------- ----------- 8.5/11.9 MB 3.6 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 3.7 MB/s eta 0:00:01
     ------------------------------ --------- 9.0/11.9 MB 3.7 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 3.7 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 3.7 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 3.8 MB/s eta 0:00:01
     --------------------------------- ------ 10.1/11.9 MB 3.8 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 4.1 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 4.3 MB/s eta 0:00:01
     ------------------------------------ --- 10.8/11.9 MB 4.3 MB/s eta 0:00:01
     ------------------------------------- -- 11.2/11.9 MB 4.7 MB/s eta 0:00:01
     ------------------------------------- -- 11.2/11.9 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 5.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 5.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 5.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=695abedf728646da45a3e5c17aa7310c704d0ac5ea9c4b0fc781cab13080270a
  Stored in directory: c:\users\mercy\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [42]:
import mysql.connector

In [44]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd=""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E204ECEA50>

In [45]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_user")

DatabaseError: 1007 (HY000): Can't create database 'authorized_user'; database exists

In [46]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorized_user',)
('information_schema',)
('login_db',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('students',)
('userregistration',)

In [26]:
mycursor.execute("drop database login_info")

In [40]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="authorized_user"
)
mycursor=mydb.cursor()
mycursor.execute("create table my_table(id int primary key, name varchar(50), Age int, Address varchar(50))")

ProgrammingError: 1050 (42S01): Table 'my_table' already exists

In [41]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('my_table',)

1 recor inserted

In [43]:
mycursor.execute("select * from stu_table")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 An existing connection was forcibly closed by the remote host